button {
    visibility: hidden;
}
.container-mode {
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #d9d3d0;
    position: absolute;
    top: 10%;
    width: 60%;
    height: auto;
    left: 13%;
    border-radius: 10px;
    border: 2px solid #2b2a2a;
    overflow: auto;
    scrollbar-width: none;
}
.btn-specihern.left-btn {
    border: none;
    background-color: transparent;
    left: 10%;
}

.collection-search {
    background-color: #d9d3d0;
    outline: none;
    border: 1px solid #2b2a2a;
    border-radius: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.collections {
    display: flex;
    width: 100%;
}

.collection-btn {
    float: right;
    background-color: #bf8563;
    border: 1px solid #2b2a2a;
    border-radius: 5px;
    font-size: 12px;
}

.collection-name {
    margin-top: 5px;
    float: left;
    font-family: Circular Std;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.container-mode div:first-child {
    margin-top: 5px;
    flex: 1; /* Expands to fill available space */
    text-align: left; /* Align content to the left */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis;
}

.container-mode button {
    flex: 0 0 auto; /* Creates a fixed-size button */
    margin-top: 5px; /* Maintain consistency with the div */
}

.btn-specihern {
    position: absolute;
    top: 2%;
    left: 50%;
    font-size: small;
    background: #a4a67c;
    border: 2px #2b2a2a solid;
    height: 31px;
    width: 80px;
    border-radius: 10px;
    color: #2b2a2a;
}
.left {
    border: none;
}

@media (max-width: 1180px) {
    .btn-specihern {
        position: absolute;
        top: 2%;
        left: 45%;
        font-size: smaller;
        background: #a4a67c;
        border: 2px #2b2a2a solid;
        height: 31px;
        width: 70px;
        border-radius: 10px;
        color: #2b2a2a;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis;
    }
}

@media (max-width: 1160px) {
    .btn-specihern {
        position: absolute;
        top: 2%;
        left: 50%;
        font-size: 9px;
        background: #a4a67c;
        border: 2px #2b2a2a solid;
        height: 25px;
        width: 55px;
        border-radius: 10px;
        color: #2b2a2a;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis;
    }
}
@media (max-width: 1000px) {
    .container-mode {
        width: 40%;
        top: 35%;
        left: 25%;
        font-size: large;
    }
    .collection-name{
        font-size: 15px;
    }
    .btn-specihern.left-btn {
        border: none;
        background-color: transparent;
        left: 4%;
    }
    .btn-specihern {
        position: absolute;
        top: 2%;
        left: 48%;
        font-size: 8px;
        background: #a4a67c;
        border: 2px #2b2a2a solid;
        height: 22px;
        width: 60px;
        border-radius: 10px;
        color: #2b2a2a;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis;
    }
}
@media (max-width: 989px) {
    .btn-specihern {
        position: absolute;
        top: 2%;
        left: 85%;
        font-size: large;
        background: #a4a67c;
        border: 2px #2b2a2a solid;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        color: #2b2a2a;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis;
    }
}

@media (max-width: 795px) {
    .btn-specihern {
        position: absolute;
        top: 2%;
        left: 85%;
        font-size: small;
        background: #a4a67c;
        border: 2px #2b2a2a solid;
        height: 31px;
        width: 80px;
        border-radius: 10px;
        color: #2b2a2a;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis;
    }
}
@media (max-width: 660px) {
    .btn-specihern {
        position: absolute;
        top: 2%;
        left: 83%;
        font-size: 9px;
        background: #a4a67c;
        border: 2px #2b2a2a solid;
        height: 31px;
        width: 80px;
        border-radius: 10px;
        color: #2b2a2a;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis;
    }
}
@media (max-width: 576px) {
    .btn-specihern {
        position: absolute;
        top: 2%;
        left: 86%;
        font-size: 8px;
        background: #a4a67c;
        border: 2px #2b2a2a solid;
        height: 4vh;
        width: 8vh;
        border-radius: 10px;
        color: #2b2a2a;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis;
    }
}
@media (max-width: 454px) {
    .btn-specihern {
        position: absolute;
        top: 2%;
        left: 83%;
        font-size: 8px;
        background: #a4a67c;
        border: 2px #2b2a2a solid;
        height: 4vh;
        width: 8vh;
        border-radius: 10px;
        color: #2b2a2a;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis;
    }
}


.swal2-popup {
    width: 599px;
    height: 272px;
    border: 2px solid #2b2a2a;
    font-family: sans-serif;
    background: #d9d3d0;
    color: #2b2a2a;
}
.swal2-input::placeholder {
    color: #2b2a2a;
}

.swal2-input {
    border: #2b2a2a 2px solid;
    border-radius: 10px;
}

.swal2-input-label {
    font-weight: 500;
    width: 100%;
    justify-content: left;

    margin: 1em 2.5em 3px;
}

.swal2-title {
    font-size: 32px;
    font-weight: 500;
}

.swal2-confirm.swal2-styled {
    background-color: #bf8563;
    border: 2px solid #2b2a2a;
    color: #2b2a2a;
    border-radius: 10px;
    width: 175px;
    margin-bottom: 10px;
}
.swal2-validation-message{
    background-color: #d9d3d0;
}